<h1>P45</h1>
<%= render :partial => 'board', :locals => { board: @game.opponent_board } %>

<h1><%= @game.player_name %></h1>
<%= render :partial => 'board', :locals => { board: @game.player_board } %>